.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Attributes */
.color-primary {
    color: #4E47FF;
}


/* Button */
.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    width: 132px;
    height: 48px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

/* Header Styles */
header {
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 930px;     /* 1. Size Issue */
    margin-bottom: 120px;
}

/* NavBar Styles */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 909px;      /* Need to see more */
    margin-left: 130px;
    margin-right: 130px;
}

.nav-logo {
    font-size: 34px;
    font-weight: bold;
    margin-top: 50px;
}

.nav-btn {
    margin-top: 50px;
}


/* Main */
.main {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #f5f8ff;
}


/* Hero Styles */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-top: 270px;   /* 1. Size Issue */
    max-width: 905px;
    text-align: center;
}

.hero-button {
    margin-top: 0px;
}


/* Action Styles */
.action {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
}

.action-content {
    display: flex;
    flex-direction: column;
    max-width: 517px;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 0;
}

.action-description {
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 23px;
    margin-bottom: 23px;
}

.action-img {
    border-radius: 48px;
}


/* Productive User Styles */
.productive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 120px;
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.productive-title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-top: 0;
}

.productive-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stat {
    height: 121px;
    width: 180px;
}

.stat-title {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0 auto;
}

.stat-description {
    text-align: center;
    font-size: 20;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}


/* Get in touch styles */
.get-in-touch {
    width: 1140px;
    height: 632px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;      /* Vertically centers the content */
    margin-bottom: 120px;
}

.get-title {
    width: 528px;
    height: 232px;
    font-size: 97px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

main form input[type="email"], input[type="text"] {
    display: block;
    width: 420px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid rgba(214, 221, 237, 1);
    /* border-color: rgba(214, 221, 237, 1); */
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
}

textarea {
    display: block;
    width: 420px;
    height: 135px;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(214, 221, 237, 1);
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 15px;
    margin-bottom: 23px;
}

.form-title {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}


